
/*Estilos Generales*/
p {
    margin-left: 20px;
    margin-right: 10px;
    text-indent: 20px;
    font-family: Poppins;
}

h3 {
    margin-left: 20px;
    font-family: Poppins;
}

h4 {
    margin-left: 20px;
    font-family: Poppins;
}

p.fondooscuro {
    color: white;
}

/*Estilos header y elementos internos*/
header {
    border-bottom: 2px;
    border-bottom-color: black;
    border-bottom-style: ridge;
    background-image: url(/Imagenes/banner.jpg);
  }

img.roundedfoto {
    border-radius: 50%;
}

img.datos {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    cursor: pointer;
}

#dato {
    text-indent: 0%;
    margin: 0%;
}


/*Estilos aside y elementos internos*/

aside {
    border: 2px;
    border-color: black;
    border-style: ridge;
}

#resumen {
    background-color: blue;
    color: white;
    text-align: justify;
    font-family: Poppins;
}

#sobremi {
    background-color: rgb(0, 0, 124);
    padding: 10px;
}

#midescripcion {
    margin-bottom: 0px;
}

#habilidades {
    background-color: #0121b1;
    padding: 10px;
}

progress {
    margin-left: 20px;
    accent-color: rgb(6, 83, 9);
}


#redes {
    background-color: #002efc;
    padding: 10px;
}

ul{
    margin-left: 20px;
}

a:link {
    color: rgb(146, 212, 146);
}

/*Estilos main y elementos internos*/

main {
    border: 2px;
    border-color: black;
    border-style: ridge;
  }

h4.acordion {
    margin-left: 0%;
}
#headingOne button{
    background-color: rgb(105, 111, 190);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0,4;
  }

#headingTwo button{
    background-color: rgb(105, 111, 190);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0,4;
  }

#headingThree button{
    background-color: rgb(105, 111, 190);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0,4;
  }

#headingFour button{
    background-color: rgb(105, 111, 190);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0,4;
  }
